<div class="container">
    <div class="my-3">
        <h2>Concat
        </h2>
        <hr>
        <br>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Defination</h3>
            <p class="text">
                <strong>Concat :- </strong>
                Creates an output Observable which sequentially emits all values from given Observable and then moves on
                to the next.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <strong>Source -01 | Tech Channel(5)</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Tech Video's List :</strong> 1,2,3,4,5
            </p>
        </div>
        <div class="col-md-4">
            <strong>Source -02 | Comedy Channel(3)</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Comedy Video's List :</strong> 1,2,3
            </p>

        </div>
        <div class="col-md-4">
            <strong>Source -03 | News Channel(4)</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>News Video's List :</strong> 1,2,3,4
            </p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">

                    Your Channel (Subscriber)
                </div>
                <div class="card-body">
                    <ul id="elContainer">
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>