<div class="container">
    <div class="my-3">
        <h2>Observable
        </h2>
        <br>
    </div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="container1">
            <button class="button" style="vertical-align:middle" routerLink="fromevent"><span>formEvent</span></button>
            <button class="button" style="vertical-align:middle" routerLink="interval"><span>Interval</span></button>
            <button class="button" style="vertical-align:middle" routerLink="of-from"><span>Of and From</span></button>
            <button class="button" style="vertical-align:middle" routerLink="toArray"><span>toArray</span></button>
            <button class="button" style="vertical-align:middle" routerLink="custom-observable"><span>Cus-Obser</span></button>
            <button class="button" style="vertical-align:middle" routerLink="map"><span>Map</span></button>
            <button class="button" style="vertical-align:middle" routerLink="pluck"><span>Pluck</span></button>
            <button class="button" style="vertical-align:middle" routerLink="filter"><span>Filter</span></button>
            <button class="button" style="vertical-align:middle" routerLink="tap"><span>Tap</span></button>
            <button class="button" style="vertical-align:middle" routerLink="take"><span>Take</span></button>
            <button class="button" style="vertical-align:middle" routerLink="retry"><span>Retry</span></button>
            <button class="button" style="vertical-align:middle" routerLink="debounce-time"><span>DebounceTime</span></button>
            <button class="button" style="vertical-align:middle" routerLink="subject"><span>Subject</span></button>
            <button class="button" style="vertical-align:middle" routerLink="replay-subject"><span>ReplaySubject</span></button>
            <button class="button" style="vertical-align:middle" routerLink="async-subject"><span>AsyncSubject</span></button>
            <button class="button" style="vertical-align:middle" routerLink="concat"><span>Concat</span></button>
            <button class="button" style="vertical-align:middle" routerLink="merge"><span>Merge</span></button>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
