<div class="container">
    <div class="my-3">
        <h2>Retry, RetryWhen
        </h2>
        <hr>
        <br>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Defination</h3>
            <p class="text">
                <strong>retry() :- </strong>
                This operator will take care of retrying back on the source Observable if there is error and the retry will be done based on the input count given.
            </p>
            <p class="text">
                <strong>retryWhen() :- </strong>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem deleniti, vitae in harum enim expedita eaque odio minus hic sed labore iure excepturi quam repellendus accusamus quia fuga earum repudiandae!
            </p>
        </div>
    </div>
</div>