<div class="container" [ngStyle]="{'color': colorData}">
    <div class="my-3">
        <h2>Tap
        </h2>
        <hr>
        <br>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Defination</h3>
            <p class="text">
            <strong>Tap :- </strong>
            This operator will have the output the same as the source observable and can be used to log the values to the user from the observable. The main value, error if any or is the task is complete.
        </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
        <strong>Ex-01</strong>
        <hr>
        <ul id="elContainer">
        </ul>
        </div>
        <div class="col-md-6">
            <strong>Ex-02</strong>
            <hr>
            <ul id="elContainer1">
            </ul>
            </div>
    </div>
</div>