<div class="container">
    <div class="my-3">
        <h2>Subject , Behaviour Subject
        </h2>
        <hr>
        <br>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Defination</h3>
            <p class="text">
                <strong>Subject() :- </strong>
                A subject is an observable that can multicast i.e. talk to many observers. Consider a button with an
                event listener, the function attached to the event using add listener is called every time the user
                clicks on the button similar functionality goes for subject too.
            </p>

            <p class="text">
                <strong>BehaviorSubject() :- </strong>
                In Behaviour Subject we can set initial value of it but in Subject we can not set initial value.

            </p>
        </div>
    </div>
    <hr>
    <h3>Username is <strong class="text-primary">{{username}}</strong></h3>
    <div class="row">
        <div class="col-md-4">
            <app-comp1></app-comp1>
        </div>
        <div class="col-md-4">
            <app-comp2></app-comp2>

        </div>
        <div class="col-md-4">
            <app-comp3></app-comp3>

        </div>

    </div>
</div>