<div class="container">
    <div class="my-3">
        <h2>Mobile notifier using ConcatMap
        </h2>
        <hr>
        <br>
    </div>
</div>
    <div class="iphone-x">
        <i>Speaker</i>
        <b>Camera</b>
        <s>10:24</s>
        
        <span>Left action button</span>
        <span>Right action button</span>

        <div class="notification" id="elContainer">
            <!-- <div class="item">
                <div class="header" style="    display: flex;
                justify-content: space-between; font-size: 13px; font-weight: 600; padding: 5px 0 10px;">
                    <div class="app">
                       <img src="https://placeimg.com/50/50/tech/1" width="20">
                        Facebook
                    </div>
                    <div class="time" style="opacity: .3; font-size: 12px; font-weight: 500;">4 Second Ago.</div> 
                </div>
                <div class="body" style="font-size: 13px; line-height: normal;">
                    <img src="https://placeimg.com/50/50/tech/1" style="    float: right;margin: 0 0 0 10px; border: 1px solid #989898;">
                    <strong>Alex Johnson </strong>
                    <p>Commented on your Post !!! Thanks.</p>
                </div>
            </div>
            <div class="item">
                <div class="header">
                    <div class="app">
                       <img src="https://placeimg.com/50/50/tech/2" width="20">
                        Facebook
                    </div>
                    <div class="time">4 Second Ago.</div> 
                </div>
                <div class="body">
                    <img src="https://placeimg.com/50/50/tech/2" class="item-img">
                    <strong>Alex Johnson </strong>
                    <p>Commented on your Post !!! Thanks.</p>
                </div>
            </div>
            <div class="item">
                <div class="header">
                    <div class="app">
                       <img src="https://placeimg.com/50/50/tech/3" width="20">
                        Facebook
                    </div>
                    <div class="time">4 Second Ago.</div> 
                </div>
                <div class="body">
                    <img src="https://placeimg.com/50/50/tech/3" class="item-img">
                    <strong>Alex Johnson </strong>
                    <p>Commented on your Post !!! Thanks.</p>
                </div>
            </div>
            <div class="item">
                <div class="header">
                    <div class="app">
                       <img src="https://placeimg.com/50/50/tech/4" width="20">
                        Facebook
                    </div>
                    <div class="time">4 Second Ago.</div> 
                </div>
                <div class="body">
                    <img src="https://placeimg.com/50/50/tech/4" class="item-img">
                    <strong>Alex Johnson </strong>
                    <p>Commented on your Post !!! Thanks.</p>
                </div>
            </div> -->
        </div>
      </div>