<div class="container">
    <div class="my-3">
        <h2>ConcatMap
        </h2>
        <hr>
        <br>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Defination</h3>
            <p class="text">
                <strong>ConcatMap :- </strong>
                Projects each source value to an Observable which is merged in the output Observable, in a serialized
                fashion waiting for each one to complete before merging the next.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <strong>Ex-01 | Map</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Video's :</strong> ['Tech','Comedy','News']
            </p>
        </div>
        <div class="col-md-4">
            <strong>Ex-02 | Map + ConcatAll</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Video's :</strong> ['Tech','Comedy','News']
            </p>

        </div>
        <div class="col-md-4">
            <strong>Ex-03 | ConcatMap</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Video's :</strong> ['Tech','Comedy','News']
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <ul id="elContainer1">
            </ul>

        </div>
        <div class="col-md-4">
            <ul id="elContainer2">

            </ul>
        </div>
        <div class="col-md-4">
            <ul id="elContainer3">
            </ul>
        </div>
    </div>
</div>