.side-list{
    margin-right: 9px;
    cursor: pointer; 
    font-size: 20px;
    color: rgb(102, 96, 96);
    
}
.side-list:hover{
    text-decoration: none;
    color: black;
}
.class1{
    color: red;
}
