<div class="container">
    <div class="my-3">
        <h2>Take
        </h2>
        <hr>
        <br>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Defination</h3>
            <p class="text">
                <strong>Take :- </strong>
                This operator will take the first n number of emissions.
            </p>
            <p class="text">
                <strong>takeLast:- </strong>
                Emits only the last count values emitted by the source Observable
            </p>
            <p class="text">
                <strong>takeUntil:- </strong>
                Emits the values emitted by the source Observable until a notifier Observable / condition emits a value
            </p>
        </div>
    </div>
    <hr>
    <p class="bg-light py-2 px-3 border rounded">
        <strong>Random Name :</strong> 'Rahul', 'Vipul', 'Sonali', 'Nitu', 'Namita'
    </p>
    <div class="row">
        <div class="col-md-4">
            <strong>Ex -01 | Take(3)</strong>
            <hr>
            <ul id="elContainer">
            </ul>
        </div>
        <div class="col-md-4">
            <strong>Ex -02 | takeLast(3)</strong>
            <hr>
            <ul id="elContainer2">

            </ul>
        </div>
        <div class="col-md-4">
            <strong>Ex -03 | takeUntil(Condition)</strong>
            <hr>
            <ul id="elContainer3">
            </ul>
        </div>
    </div>
</div>